<h1>Resultados de la búsqueda</h1>
<hr>
<div *ngIf="heroes.length!=0;else noResultados">
  <div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes;let i=index">
      <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text">
          <small class="text-muted">{{heroe.aparicion}}</small>
      </div>
    </div>
  </div>
</div>

<ng-template #noResultados>
  <div class="alert alert-info animated fadeIn">
    <h2>La búsqueda no ha devuelto resultados con el término {{parametroBusqueda}}</h2>
  </div>
</ng-template>
